.pair:hover {
  text-decoration: underline;
}

.connectform {
  flex: auto;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.connectform>label {
  text-align: right;
}

.connectform>input:invalid::placeholder {
  color: red;
}

.withreset>input {
  flex: auto;
}

.withreset {
  display: flex;
}

.withreset>input {
  flex: auto;
}

.eventslist {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.eventslist>* {
  padding: 5px;
  border-radius: 3px;
  margin: 0;
}

.event {
  background-color: lightcoral;
}

.message {
  background-color: lightgreen;
}